<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--Конфигурация для testNG фреймворка-->
<suite name="suit">
    <test name="test1">
        <parameter name="browser" value="chrome" />
        <packages>
            <!--Запускаем все тесты из пакета 'com.academy.tests.'-->
            <package name="com.yavoric.tests.lesson22.*" />
        </packages>
    </test>
    <test name="test2">
        <parameter name="browser" value="firefox" />
        <packages>
            <!--Запускаем все тесты из пакета 'com.academy.tests.'-->
            <package name="com.yavoric.tests.lesson22.*" />
        </packages>
    </test>
</suite>